<div>
    <% if(quote !== null){ %>
        <% if(quote.image !== null && typeof quote.image !== 'undefined'){ %>
            <% var img = "data:image/jpeg;base64,"+quote.image %>
            <img class="character-img" src=<%= img %> />
        <% } %>
        <span class="h2">“<%= quote.quote %>”</span>
        <span class="h4"> - <%= quote.character %></span>
    <% } %>
    <% if (error !== null){ %>
        <div class="alert alert-danger" role="aler"><%= error %></div>
    <% } %>
</div>