<div>
    <% if(quote !== null){ %>
        <span class="h2">“<%= quote.quote %>”</span>
        <span class="h4"> - <%= quote.character %></span>
        <!--<span th:if="${!#strings.isEmpty(lunarPhase.icon)}" th:utext="${lunarPhase.icon}"></span>-->
    <% } %>
    <% if (error !== null){ %>
        <div class="alert alert-danger" role="aler"><%= error %></div>
    <% } %>
</div>